@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.top-nav-btn {
  background: #ed5758;
  color: white;
  border-radius: 15px;
  padding: 3px 20px;
  border: none;
}
.bottom-nav {
  background-color: #ed5758;
}

.hero-section {
  background: url(/assets/img/hero-img.jpeg);
  height: 500px;
  background-size: cover;
  background-position: bottom;
}
.hero-btn {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 16px;
}

.hero-text h5 {
  letter-spacing: 3px;
  font-size: 35px;
  font-weight: bolder;
}
.hero-text {
  padding-top: 150px;
}
.black-bg {
  background: url(/assets/img/HD-wallpaper-black-plain.jpeg);
  height: 400px;
  padding: 30px;
}

.covid-section {
  background: url(/assets/img/body-img.jpeg);
  height: 500px;
  background-size: cover;
  background-position: bottom;
  color: white;
  padding-top: 200px;
}

.covid-btn {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 16px;
}
